/* stylelint-disable declaration-property-value-allowed-list */
:root {
  --app-background-color: #fff;
  --app-background-color-th: #f9f9f9;
  --app-background-color-code: #f2f4f5;
  --app-background-color-anchor-toggler: #3b3b3e;
}
