/* stylelint-disable declaration-property-value-allowed-list */
body.dark {
  --app-background-color: rgb(18 18 18);
  --app-background-color-th: rgb(13 13 13);
  --app-background-color-code: #39393c;
  --app-background-color-anchor-toggler: #eceef1;
}
